@model IEnumerable<FurnitureStore.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Proizvodi";
}
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
}

<div class="container-fluid min-vh-100 bg-light position-relative pb-3">

    @Html.Partial("_ModalPopupImage")
    <hr />
    <h2 class="text-center page-title text-primary m-0">Proizvodi</h2>
    <hr />
    <table id="productsTable" class="table table-striped display nowarp w-100">
        <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Količina</th>
                <th>Jedinična cena</th>
                <th>Slika</th>
            </tr>
        </thead>
    </table>
    <hr />
</div>

<!--#region CSS linkovi za DataTable  -->
@Styles.Render("~/Content/ImagePopup.css")
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" />
<!--#endregion -->

@section scripts
{
    <!--#region Skripte za validaciju, DataTable i notifikacije  -->
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <!--#endregion -->
    <!--#region Glavna skripta  -->

    <script>
        let table;
        $(document).ready(function () {
            //#region Dobavljanje podataka i popuna tabele za komade namestaja
            let tableData = @Html.Raw(jsonModel);
            table = $("#productsTable").DataTable({
                data: tableData,
                columns: [
                    { data: "ProductName", className: "dt-center table-primary" },
                    { data: "TypeName", className: "dt-center" },
                    { data: "Quantity", className: "dt-center table-primary" },
                    {
                        data: "Price",
                        className: "dt-center",
                        render: function (data) {
                            let price = new Intl.NumberFormat("sr-RS", { style: "currency", currency: "DIN" }).format(data);
                            return price;
                        }
                    },
                    {
                        data: "Image",
                        className: "dt-center table-primary",
                        render: function (data) {
                            return "<img src='" + data + "' id='productImage' width='100px' height='100px' data-lightbox='image-" + data +"' onclick=popupImage(this) style='cursor:pointer'/>";
                        }
                    }],
                language: {
                    emptyTable: "<div style='font-weight: 500;'>Tabela je prazna, klikni na <b>Dodaj nameštaj</b></div>",
                    "info": "Od _START_ do _END_ ukupno _TOTAL_",
                    "infoEmpty": "Od 0 do 0 ukupno 0",
                    "zeroRecords": "Traženi pojam ne postoji"
                },
                lengthMenu: [[3, 6, 9, -1], [3, 6, 9]],
                oLanguage: {
                    "oPaginate": {
                        "sNext": "Sledeća",
                        "sPrevious": "Prethodna"
                    },
                    "sProcessing": "Tabela je trenutno zauzeta",
                    "sLoadingRecords": "Učitavanje...",
                    "sLengthMenu": 'Prikaži <select>' +
                        '<option value="3">3</option>' +
                        '<option value="6">6</option>' +
                        '<option value="9">9</option>' +
                        '</select> proizvoda'
                },
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                searching: false,
                bSort: false
            });
            //#endregion
        });

        function popupImage(image) {
            let modal = $("#imageModal");
            let modalImg = $("#img-product");

            modal[0].style.display = "block";
            modalImg[0].src = $(image)[0].src;

            let span = $("#close-img");

            span.click(function () {
                modal[0].style.display = "none";
            });
        }
    </script>
    <!--#endregion -->
}