@{
    ViewBag.Title = "Nameštaj";
}

<div class="container-fluid px-5 min-vh-100 bg-light position-relative">
    @Html.Partial("_SideNavbar")
    <h2 class="text-center page-title text-primary">Nameštaj</h2>
    <div class="row">
        <div class="col">

            <div class="modal fade" id="modalDelete">
                <div class="modal-dialog">
                    <div class="modal-content bg-light">
                        <div class="modal-header">
                            <h5 class="modal-title">Obriši</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Da li ste sigurni da želite da obrišete komad nameštaja?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="confirmDelete()">Obriši</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalWindow" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content bg-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mTitle">Dodaj nameštaj</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success my-3" data-toggle="modal" data-target="#modalWindow" onclick="popupForm('@Url.Action("AddOrEdit", "Products")')"><i class="fa fa-plus"></i> Dodaj nameštaj</button>

            <table id="productsTable" class="table table-bordered table-striped display nowarp w-100">
                <thead>
                    <tr>
                        <th>Šifra</th>
                        <th>Naziv</th>
                        <th>Zemlja proizvodnje</th>
                        <th>Godina proizvodnje</th>
                        <th>Jedinična cena</th>
                        <th>Količina u magacinu</th>
                        <th>Prodajni salon</th>
                        <th>Tip</th>
                        <th>Slika</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script>
        let table;
        $(document).ready(function () {
            table = $("#productsTable").DataTable({
                ajax: {
                    url: "/Products/GetProducts",
                    type: "GET",
                    datatype: "json"
                },
                columns: [
                    { data: "ProductKey", className: "dt-center" },
                    { data: "ProductName", className: "dt-center" },
                    { data: "MadeIn", className: "dt-center" },
                    { data: "ProductionYear", className: "dt-center" },
                    { data: "Price", className: "dt-center" },
                    { data: "Quantity", className: "dt-center" },
                    { data: "ShopName", className: "dt-center" },
                    { data: "ProductTypeName", className: "dt-center" },
                    {
                        data: "Image",
                        className: "dt-center",
                        render: function (data) {
                            return "<img src='"+data+"' id='productImage' width='200px' height='200px' />";
                        },
                        orderable: false,
                        searchable: false,
                    },
                    {
                        data: "Id",
                        className: "dt-center",
                        render: function (data) {
                            return "<button type='button' class='btn btn-warning btn-sm m-1' data-toggle='modal' data-target='#modalWindow'"
                                + " onclick=popupForm('@Url.Action("AddOrEdit", "Products")/" + data + "')><i class='fas fa-pencil-alt'></i> Izmeni</button>"
                                + "<button type='button' class='btn btn-danger btn-sm m-1 btn-delete' data-toggle='modal' data-target='#modalDelete' data-user-id=" + data + "><i class='fa fa-trash'></i> Obriši</button> ";
                        },
                        orderable: false,
                        searchable: false,
                        width: "150px"
                    }
                ],
                language: {
                    emptyTable: "<div style='font-weight: 500;'>Tabela je prazna, klikni na <b>Dodaj nameštaj</b></div>"
                },
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });
        function popupForm(url) {
            let formDiv = $("#modalWindow .modal-body");
            $.get(url)
                .done(function (response) {
                    let productId = $("#Id", response).val();
                    $("#mTitle").text((productId == 0) ? "Dodaj nameštaj" : "Izmeni nameštaj");
                    formDiv.html(response);
                });
        }
        function submitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                let file = $("#btnImageBrowser").get(0).files;
                let formData = new FormData(form);
                formData.append("Image", file[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {

                            $("#modalWindow").modal("hide");
                            table.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                    }
                });
            }
            return false;
        }
        function loadImage(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $("#targetImage").attr("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                $("#targetImage").show();
            }
        }
        function confirmDelete() {
            let id = $(".btn-delete").attr("data-user-id");
            $.ajax({
                url: "/Products/Delete/" + id,
                method: "POST",
                success: function (data) {

                    table.ajax.reload();

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    });
                }
            });
        }
    </script>
}

