@{
    ViewBag.Title = "Početna";
}

<section class="row">
    <div class="col-lg-6 p-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/images/slajd1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/slajd2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/slajd3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/slajd4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/slajd5.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/images/slajd6.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 p-0 bg-light">
        <div class="w-100 h-100 text-center d-flex align-items-center">
            <div class="font-weight-light w-75 mx-auto position-relative hero-title-container">
                <h1 class="text-primary bg-light position-absolute">Pogledaj</h1>
                <p class="font-weight-light mx-auto">
                    naš onlajn asortiman i pronađi ono što ti je potrebno da tvoja kuća postane dom.
                </p>
                <a class="btn-hero px-3 btn btn-warning d-inline-block" href="/Products/Index">Kupovina</a>
            </div>
        </div>
    </div>
</section>
<section class="row px-3 mx-5 mb-5">
    <div style="width:100%;height:2px;" class="bg-info my-5"></div>
</section>