<div id="imageModal" class="modal">    

    <!-- Modal Content (The Image) -->
    <div id="img-wrapper">
        <!-- The Close Button -->
        <span id="close-img">&times;</span>
        <img id="img-product">
    </div>

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
